:root {
  --background-color: oklch(0.97 0.001 106.424);
  --font-color: oklch(0.274 0.006 286.033);
}

body {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  font-family: 'Ubuntu', serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-color);
  color: var(--font-color);
  min-block-size: 100dvh;
  height: 100%;
  padding: 1rem;
}

h1 {
  font-size: clamp(1.5rem, 1.25rem + 1vw, 2rem);
  margin-top: 0;
}

p {
  line-height: 25px;
}

.container {
  margin: auto;
  width: clamp(400px, 100%, 1200px);
}

.link-github {
  display: inline-block;
  text-decoration: none;
  background-color: oklch(0.928 0.006 264.531);
  padding: 0.3rem;
  border-radius: 0.25rem;
  color: oklch(0.37 0.013 285.805);
  outline: none;
  transition-duration: 200ms;
  align-self: center;

  svg {
    width: 1.25rem;
    stroke: oklch(0.496 0.265 301.924);
    vertical-align: middle;
  }

  &:hover {
    background-color: oklch(0.872 0.01 258.338);
  }
}

.routes {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  margin: 2rem 0;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background-color: white;
  ul {
    list-style-type: none;
    margin: 0;
  }

  a {
    display: inline-block;
    padding: 0.2rem 0;
  }
}
